{% extends 'poemApp/base.html' %}
{%load  staticfiles  %}

{% block title_block %}
About
{% endblock %}

{% block body_block %}

        <div class="jumbotron">
            <h1>Tristan Tzara</h1>
            <p >
                To make a Dadaist poem:</p>
            <ul>
                <li>Take a newspaper.
                <li>Take a pair of scissors.
                <li>Choose an article as long as you are planning to make your poem.
                <li>Cut out the article.
                <li>Then cut out each of the words that make up this article
                    and put them in a bag.
                <li>Shake it gently.
                <li>Then take out the scraps one after the other in the order
                    in which they left the bag.
                <li>Copy conscientiously.
                <li>The poem will be like you.
                <li>And here are you a writer, infinitely original and endowed
                    with a sensibility that is charming though beyond the
                    understanding of the vulgar.
            </ul>
        </div>

{% endblock %}
