<!DOCTYPE html>
{%load  staticfiles  %}




<html>
<head>
	<!--header outsourced from https://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
	<link rel="stylesheet" href="{% static 'landingPage.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>
        Poemgram -
        {% block title_block %}
         Default Page
        {% endblock %}
    </title>
</head>




<body>
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Compose</a></li>
      <li><a href="#">{% block username_block %}Fritz{% endblock %}</a></li>
    </ul>
    <form class="navbar-form navbar-right" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
</nav>

{% block body_block %}
         Default Page
{% endblock %}
</body>

</html>
