{% extends 'poemApp/base.html' %}
{%load  staticfiles  %}

{% block title_block %}
Compose
{% endblock %}

{% block body_block %}
		
	<ul id="sortable1" class="jumbotron panel-jumbotron cardContainer spaceBetween verticalScroll" >	
		<li class=" wide anchor sadsa"><p align="center" class="anchor">Press enter to break line <br/>Words:</p></li>
		{% for i in text %}
			<li class="wordcard">{{i}}</li>
		{% endfor %}
	</ul>

	
	<div class="vl hidden-xs" ></div>
	
	
	<ul id="sortable2" class="jumbotron wide-jumbotron overflow-auto cardContainer" style="list-style-type:none;"></ul>
		

		
	<div class="pt-5 wide"></div>
	
	<input class="btn btn-primary"  type="submit" value="Break line" id="br"/>
		
	<input class="btn btn-primary" type="submit" value="Random word" id="rnd"/>

	<input class="btn btn-primary"  type="submit" value="Submit" id="submit"/>
	
	<div class="pt-5 wide"></div>
	
	<form action="{% url 'poemApp:submitPoem' %}" method="post" id="submitForm">
		{% csrf_token %}
		<!-- two separate title inputs are needed because jQuery is dummy-->
		<input hidden  name="articleTitle" id="articleTitle" value="{{title}}" />
		<input hidden  name="title" id="title"/>
		<textarea  id="textArea" name="poem" value="" ></textarea>
	</form>
	
	
	<div class="centered" id="dialog" title="Please choose a title">
	<input class="form-control"  name="fakeTitle" id="fakeTitle"/></div>

<script src="{% static 'compose.js' %}" } ></script>
{% endblock %}
