{% extends 'poemApp/base.html' %}
{%load  staticfiles  %}

{% block title_block %}
Index
{% endblock %}

{% block body_block %}
<div class="container">
		<!--TODO: Add links to the list (or make them in the first place...)-->
        <div class="jumbotron panel-jumbotron text-center">
            <h3>Random poem</h3>
			{% include "poemApp/poem.html" with author=rauthor rows=rrows title=rtitle  %}
        </div>
		<div class="vl"></div>
			{% include "poemApp/leaderboard.html" with name="Most recent" poems=recent only %}
		<div class="vl"></div>
			{% include "poemApp/leaderboard.html" with name="Most liked" poems=mostLikes only %}
</div>
{% endblock %}
