{% extends 'poemApp/logoutBase.html' %}
{%load  staticfiles  %}

<!--<head>
header outsourced from https://www.w3schools.com/bootstrap/bootstrap_navbar.asp
<link rel="stylesheet" href="{% static 'landingPage.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>-->
{% block title_block %}
Landing Page
{% endblock %}

{% block page_block %}
<div class="container">

	<div class="jumbotron panel-jumbotron text-center">
	<h1>Login</h1>
	</div>
	<div class="vl"></div>
	<div class="jumbotron wide-jumbotron ">
		<h2 align="center">How to Make a Dadaist Poem</h4>
		<p >
		To make a Dadaist poem:</p>
		<ul>
		<li>Take a newspaper.
		<li>Take a pair of scissors.
		<li>Choose an article as long as you are planning to make your poem.
		<li>Cut out the article.
		<li>Then cut out each of the words that make up this article
		and put them in a bag.
		<li>Shake it gently.
		<li>Then take out the scraps one after the other in the order
		in which they left the bag.
		<li>Copy conscientiously.
		<li>The poem will be like you.
		<li>And here are you a writer, infinitely original and endowed
		with a sensibility that is charming though beyond the
		understanding of the vulgar.

		</ul>
		<p>--Tristan Tzara</p>
		<p align="center"><a href="{% url 'poemApp:about' %}">Learn More</a></p>
		<p align="center"><a href="{% url 'auth_login' %}">Sign Up</a></p>

	</div>

</div>
{% endblock %}
