{% extends 'poemApp/base.html' %}
{%load  staticfiles  %}
{% load getReplies from poemApp_template_tags %}

{% block title_block %}
{{user.username}}
{% endblock %}

{% block body_block %}
	{% if poem %}
        <div class="jumbotron panel-jumbotron text-center">
            {% include "poemApp/poem.html" with author=poem.user.username rows=rows title=poem.title  %}
			{% include "poemApp/likebutton.html" with obj=poem type="poem" %}
        </div>
		<div class="vl hidden-xs"></div>
		<div class="jumbotron wide-jumbotron overflow-auto">
			{% include "poemApp/commentInput.html" with parentID="parentcomment" poem=poem %}
			</form>
			<hr/>
			{% for i in parentcomments %}
				{% include "poemApp/comment.html" with comment=i only %}
				{% getReplies i as clist %}
				{% for j in clist %}
					{% include "poemApp/comment.html" with comment=j reply="True" %}
				{% endfor %}
			{% endfor %}
        </div>
	{% else %}
		<div class="jumbotron panel-jumbotron text-center">
            <h3>There is no such poem</h3>
        </div>
	{% endif %}
	

<script src="{% static 'likes.js' %}" url="{% url 'poemApp:like' %}" ></script>
{% endblock %}
