{%load  staticfiles  %}

<div class="jumbotron-fluid p-2 poemContainer overflow-auto">
	{% if title %}
		<h4>{{title}}</h4>
		<p>
		{% for row in rows %}
			{{row}}<br/>
		{% endfor %}
		</p>
		<p>- {{author}}</p>
	{% else %}
		<strong>There are no poems present :( </strong>
    {% endif %}
		
</div>

<!-- Code for like button - Poem page not finished so can't slot it in anywhere -->

<form action="{% url 'poemApp:like-poem' %}" method="post" class="like-form" id="{{obj.id}}">
	{% csrf_token %}
	<input type="hidden" name="poem_id" value="{{obj.id}}">
	<button type="submit" class="ui button like-button{{obj.id}}">
	{% if user_prof not in obj.liked.all %}
		Like
	{% else %}
		Dislike
	{% endif %}
	</button>
	<div class="column">
		<div class="like-count{{obj.id}}">{{obj.total_likes}}</div>
	</div>
	<div class="column">
		likes
	</div>
</form>

<script src="{% static 'poemLike.js' %}"} ></script>
