{% extends 'poemApp/base.html' %}
{%load  staticfiles  %}
{% load getSlug from poemApp_template_tags %}

{% block title_block %}
Search results
{% endblock %}

{% block body_block %}

<div class="jumbotron">
<h3>Search Results</h3>


	{% if type == "Poem" %}
		{% for i in list %}
		{% getSlug i.user as obj %}
		<hr/>
		<div>
			<a href="{% url 'poemApp:poem' i.slug  %}">{{i.title}}</a> by <a href="{% url 'poemApp:showUserprofile' obj  %}">{{ i.user.username }}</a>
		</div>
		{% empty %}
			<hr/>
			There are no results for this search term
		{% endfor %}
	{% else %}
		
		{% for i in list %}
		{% getSlug i as obj %}
		<hr/>
		<div>
			<a href="{% url 'poemApp:showUserprofile' obj  %}">{{ i.username }}</a>
		</div>
		{% empty %}
			<hr/>
			There are no results for this search term
		{% endfor %}
	
	{% endif %}

</div >
{% endblock %}