{% extends 'poemApp/base.html' %}
{%load  staticfiles  %}


{% block title_block %}
Login
{% endblock %}

{% block body_block %}

        <div class="jumbotron panel-jumbotron">
            <h3>Login</h3>
			<form method="post" action="." novalidate>
			{% csrf_token %}
			<div class="form-group">
				<label for="id_username">Username:</label> 
				<input type="text" name="username" autofocus required id="id_username" class="form-control">
			</div>
			<div class="form-group">
				<label for="id_password">Password:</label> 
				<input type="password" name="password" required id="id_password" class="form-control">
			</div>
			<p class="centered">
				<input class="btn btn-primary" type="submit" value="Log In"/>
			</p>
			<input type="hidden" name="next" value="{{ next }}"/>
			</form>
			<p class="centered">
				Not registered? <a href="{% url 'registration_register' %}">Register here!</a>
			</p>
			<p class="centered"><a href="{% url 'poemApp:landingPage' %}">Return to Index</a></p>
		</div>


{% endblock %}
