.container-fluid{
    display: flex;
	justify-content: left;
}

.container{
    display: flex;
	justify-content: space-evenly;
	position: relative
}

.row{
	justify-content: space-evenly;
}

.vl {
  border-left: 3px solid black;
  height: auto;
}

.panel-jumbotron {
  border:1 px solid grey;
  width: 305px;
  height: 610px;
  margin: 0 auto;
  position: relative;
}

.reg-jumbotron {
  border:1 px solid grey;
  width: 305px;
  height: 650px;
  margin: 0 auto;
  position: relative;
}

.wide-jumbotron {
  border:1 px solid grey;
  width: 610px;
  height: 610px;
  margin: 0 auto
}

h3{
	text-align: center;
}

p.centered{
	text-align: center;
}
