.container-fluid{
	display: flex;
	justify-content: left;
}

.container{
	display: flex;
	justify-content: space-evenly;
	position: relative;
	flex-wrap: wrap;
}

.row{
	justify-content: space-evenly;
}

.vl {
	border-left: 3px solid black;
	height: auto;
}

.panel-jumbotron {
	margin-bottom: 3em;
	padding-top: 3em;
	width: 305px;
	height: 610px;
	margin: 0 auto;
	position: relative;
}

.reg-jumbotron {
	padding-top: 3em;
	width: 305px;
	height: 650px;
	margin: 0 auto;
	position: relative;
}

.wide-jumbotron {
	padding-top: 3em;
	width: 610px;
	height: 610px;
	margin: 0 auto
}

h3{
	text-align: center;
}

.poemContainer{
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	height: 100%;
	background-color: white;
} 

.centered{
	text-align: center;
}


.wide{
	width: 100%;
}

.80wide{
	width: 80%;
}

.spaceBetween{
	justify-content: space-between;
}

.cardContainer{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	list-style-type:none;
	
}

.wordcard{
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	clear:both;
    float:left;
}

.break {
  flex-basis: 100%;
  height: 0;
}
.verticalScroll{
  overflow-y: hidden;
  overflow-x: hidden;
}
.noMargin{
	margin: 0px;
}

.notResizeable { 
	resize: none;
}

.comment{
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: space-between;
	background-color: white;
	border-radius: 5px;
	border-width: 1px;
	margin-top: 1em;
}

.disp{
	display: inline-block;
}